html {
	color: #34495e;
	font-family: 'Segoe UI';
}

#wrap {
	width: 58vw;
	min-height: 185px;
	margin-top: 1.5%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.6);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5), 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.9);
	border-radius: 2px;
}

p {
	float: left;
	margin-left: 15px;
	padding-left: 10px;
	font-size: 1.05vw;
}

.header {
	font-family: 'Segoe UI';
	height: 35px;
	width: auto;
	background-color: #1C1C1C;
	padding-left: 0px;
	padding-right: 0px;
	border-top-left-radius: 2px 2px;
	border-top-right-radius: 2px 2px;
}

.jobs {
	font-family: 'Segoe UI';
	padding-top: 10px;
	background-color: #fe892a;
	height: 3vw;
	width: 100%;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.jobs p {
	font-family: 'Segoe UI';
}

table {
	text-align: left;
	color: white;
}

th, td {
	padding-left: 25px;
}

th {
	padding-top: 10px;
	height: 40px;
}

tr {
	font-size: 0.9vw;
	font-family: 'Segoe UI';
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

tr.heading {
	font-size: 1vw;
	color: rgba(255, 255, 255, 0.9);
}

.serverinfo {
	font-size: 0.8vw;
	text-align: center;
}
p span {
    color: #fff;
}
.heading th {
    text-transform: uppercase;
}
