﻿@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  overflow: hidden;
  background-color: rgb(200, 200, 200);
  box-shadow: 0 0 500px rgba(0, 1, 1, 1) inset;
  background-color: rgb(200, 200, 200);
  margin: 0;

}

.text {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.discord {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}


hr{
  color: #a9a9a9;
  opacity: 0.3;
  width: 50%;

}


.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  filter: contrast(1.5);
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


