@font-face {
  font-family: 'Circular';
  src: url("fonts/Circular-Bold.woff2") format("woff2"), url("fonts/Circular-Bold.woff") format("woff"), url("fonts/Circular-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Circular';
  src: url("fonts/Circular-Book.woff2") format("woff2"), url("fonts/Circular-Book.woff") format("woff"), url("fonts/Circular-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Circular', sans-serif;
  font-weight: normal;
  overflow: hidden;
  height: 100%; }

.hud {
  position: absolute;
  top: 50px;
  right: 90px;
  width: 230px; }
  .hud .profile {
    position: absolute;
    z-index: 1;
    left: 0;
    /* width: 223px;
    height: 74px; */
    overflow: hidden; }
  .hud .container {
    position: absolute;
    right: 0;
    height: 80px;
    padding: 0px 20px 15px 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(24, 27, 32, 0.4);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px; }
    .hud .container .type {
      width: 122px;
      height: 10px;
      margin: 5px 0; }
      .hud .container .type .svg {
        display: inline-block;
        vertical-align: middle;
        margin-right: -4px;
        width: 14px;
        text-align: center; }
      .hud .container .type .progress {
        display: inline-block;
        vertical-align: middle;
        margin-right: -4px;
        margin-left: 8px;
        width: calc(100% - 22px);
        height: 7px;
        background-color: rgba(187, 200, 222, 0.3);
        border-radius: 10px; }
        .hud .container .type .progress div {
          display: block;
          width: 100%;
          height: 100%;
          background-color: #BBC8DE;
          border-radius: 10px; }
  .hud #hour {
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 0.547vw;
    width: 170px;
    right: 0;
    top: -20px; }
  .hud .notification {
    display: none;
    position: absolute;
    width: 22px;
    height: 22px;
    line-height: 21px;
    background-color: #EE5253;
    color: white;
    font-size: 0.547vw;
    text-align: center;
    z-index: 2;
    border-radius: 100%;
    top: -7px;
    left: 0; }
  .hud .icons {
    position: absolute;
    z-index: 2;
    right: 0;
    top: -20px; }

/* NIMZY */
.hud {
    position: absolute;
    top: 10%;
    right: 3%;
    width: 13%;
    min-width:200px;
}
.irrp-text { font-size: 0.938vw; width:100%; }
.hud .container .type {
    width: 100%;
    float: right;
    height: .4rem;
}

img {
  width: 1.2vw;
  height: 1.2vw;
  float: left;
  object-fit: cover;
  margin: -5px 5px 0px -.3vw;
}


/* NIMZY */

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
}
.text-white {
    color: #fff!important;
}
.text-center {
    text-align: center!important;
}
.p-2 {
    padding: .5rem!important;
}
.mb-4, .my-4 {
    margin-bottom: .3vh!important;
}
.progress-bar {
    transition: .3s;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
}
.card {
    background: #0000009e;
}
.cascading-admin-card {
    margin-top: 1.296vh;
}
.cascading-admin-card .admin-up {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -1.25rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.781vw;
}
.card .card-body .card-text {
  font-size: 0.547vw;
  font-weight: 400;
    color: #fff;
}
.card .bar {
    margin-bottom: 1vh;
}
.progress {
    background: #e9ecef33;
}
.progress, .progress-bar {
    height: 1.1vh !important;
}
.bg-white {
    background-color: #fff!important;
}
.bg-danger {
    background-color: #ff3547!important;
}
.orange.darken-2 {
    background-color: #f57c00!important;
}
.bg-primary, .primary-color {
    background-color: #4285f4!important;
}
i.fa{color:#fff;font-size:0.525vw;}
.cashmoney {
    color: green;
}
.font-weight-bold {
    font-weight: 700!important;
}
.h4, h4 {
    font-size: 0.938vw;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.text-left {
    text-align: left!important;
}
.float-left {
    float: left!important;
}
.cascading-admin-card .admin-up .fab, .cascading-admin-card .admin-up .far, .cascading-admin-card .admin-up .fas {
    padding: 0.898vw;
    font-size: 1.250vw;
    color: #fff;
    text-align: left;
    border-radius: 3px;
}
.white-skin .primary-color, .white-skin ul.stepper li.active a .circle, .white-skin ul.stepper li.completed a .circle, ul.stepper li.active a .white-skin .circle, ul.stepper li.completed a .white-skin .circle {
    background-color: #4285F4!important;
}
.mr-3, .mx-3 {
    margin-right: 1rem!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.w-100 {
    width: 100%!important;
}
.w-30 {
  width: 26% !important;
}
.w-70 {
  width: 74% !important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.col-md-4 {
    -ms-flex: 0 0 32.333333%;
    flex: 0 0 32.333333%;
    max-width: 32.333333%;
  }

.cascading-admin-card .admin-up .data {
    float: right;
    margin-top: 2rem;
    text-align: right;
}
body, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
.progress {
  border-radius: 5px;
  overflow: hidden;
}
.d-block {
  display: block;
}
i.fas.fa-user.primary-color.mr-3.z-depth-2.float-left {
  opacity: 0;
}
.display-6 {
  font-size: 0.8vw;
}
#hour {
  font-size: 0.625vw;
}

.gangholder i.fa {
  font-size: 1vw;
  margin-right:.3vw;
}

.job-holder {
  padding: .3vw;
}
.job-holder p {
  margin:0;
}
.mugshotpos {
  margin-top: 1.296vh;
}
